img.banner {
    height: 250px;
}

.side-by-side{
    display: flex;
    width: 100%;
}

#left, #right {
    flex: 50%;
    width: 50%;
}

p#right, img#right {
    padding-left: 10%;
}

p#left, img#left {
    padding-right: 10%;
}