.left {
    flex: 15%;
}

.right {
    flex: 85%;
}

.side-by-side {
    display: flex;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p {
    padding-left: 25%;
}