ul {
    list-style-type: none;
    margin-top: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: lightskyblue;
}

li {
    float: right;
}

li a { 
    display: block;
    text-align: center;
    padding: 15px 60px;
    text-decoration:none; 
}

img {
    width: 70px;
    height: 70px;
    float: left;
    position: absolute;
    padding-left: 30px;
}