ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;
}

li {
    float: left;
}

li a { 
    display: block;
    text-align: center;
    padding: 15px 50px;
    text-decoration:none; 
}

a.home {
    padding-left: 5px;
}